body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffcc;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00cc99;
}